Project IoT simulation/server nodered.txt
[
    {
        "id": "9f503d7fb6d5d664",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96af8e7d8e617309",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "esp/dht/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "1115f2770a619f4a",
                "9f2004cc97308655"
            ]
        ]
    },
    {
        "id": "63c48a62ec349f1f",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "esp/dht/humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "98458cbab311e6c2",
                "81783f53e3d23727"
            ]
        ]
    },
    {
        "id": "1115f2770a619f4a",
        "type": "ui_gauge",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "group": "e9f3556838e7c330",
        "order": 1,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Temp",
        "label": "° C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "98458cbab311e6c2",
        "type": "ui_gauge",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "group": "e9f3556838e7c330",
        "order": 2,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "Hum",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "79c8f9ec94e90649",
        "type": "ui_switch",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "label": "Relay1",
        "tooltip": "",
        "group": "e9f3556838e7c330",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off1",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 140,
        "wires": [
            [
                "070384ec14ee33e5"
            ]
        ]
    },
    {
        "id": "4868c7f1db42219d",
        "type": "ui_switch",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "label": "Relay2",
        "tooltip": "",
        "group": "e9f3556838e7c330",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic1",
        "topicType": "msg",
        "style": "",
        "onvalue": "on2",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off2",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "958957e09978e646"
            ]
        ]
    },
    {
        "id": "958957e09978e646",
        "type": "mqtt out",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device/relay2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac45cf250521f7c3",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "070384ec14ee33e5",
        "type": "mqtt out",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device/relay1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac45cf250521f7c3",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "0faaff213b790c3d",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device/relay1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1310,
        "y": 160,
        "wires": [
            [
                "39a989d8835922d7"
            ]
        ]
    },
    {
        "id": "39a989d8835922d7",
        "type": "ui_text",
        "z": "9f503d7fb6d5d664",
        "group": "e9f3556838e7c330",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status device1",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1540,
        "y": 200,
        "wires": []
    },
    {
        "id": "2190ad92ca02c9c8",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device/relay2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 160,
        "wires": [
            [
                "691b552e916dd789"
            ]
        ]
    },
    {
        "id": "691b552e916dd789",
        "type": "ui_text",
        "z": "9f503d7fb6d5d664",
        "group": "e9f3556838e7c330",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status device2",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "9f2004cc97308655",
        "type": "ui_chart",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "group": "e2e0754e19ed7a08",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "32609cd686c7bae3",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device1/relay2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 910,
        "y": 100,
        "wires": [
            [
                "691b552e916dd789"
            ]
        ]
    },
    {
        "id": "46afe2539603e8ae",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device1/relay1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1310,
        "y": 100,
        "wires": [
            [
                "39a989d8835922d7"
            ]
        ]
    },
    {
        "id": "2ac928316be23b05",
        "type": "ui_switch",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "label": "Servo ",
        "tooltip": "",
        "group": "e9f3556838e7c330",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "6e0d33637005a5b1"
            ]
        ]
    },
    {
        "id": "6e0d33637005a5b1",
        "type": "mqtt out",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device/button1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac45cf250521f7c3",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "dd53d538249abdef",
        "type": "ui_text",
        "z": "9f503d7fb6d5d664",
        "group": "e9f3556838e7c330",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status servo ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1130,
        "y": 240,
        "wires": []
    },
    {
        "id": "35c303da8ed10f43",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device/button1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 240,
        "wires": [
            [
                "dd53d538249abdef"
            ]
        ]
    },
    {
        "id": "6f5696f0f935fe25",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "device1/button1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 300,
        "wires": [
            [
                "dd53d538249abdef"
            ]
        ]
    },
    {
        "id": "81783f53e3d23727",
        "type": "ui_chart",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "group": "e2e0754e19ed7a08",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "89b07307.a0406",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "esp/dht/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "5fe65c78.ec88cc",
                "b64f8909.e26488"
            ]
        ]
    },
    {
        "id": "d427efe1.41ede8",
        "type": "file",
        "z": "9f503d7fb6d5d664",
        "name": "log sensor data",
        "filename": "/home/pi/logs/hum.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 541,
        "y": 541,
        "wires": [
            []
        ]
    },
    {
        "id": "e70dddc1.e739c",
        "type": "json",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 371,
        "y": 532,
        "wires": [
            [
                "d427efe1.41ede8"
            ]
        ]
    },
    {
        "id": "5fe65c78.ec88cc",
        "type": "debug",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 501,
        "y": 447,
        "wires": []
    },
    {
        "id": "691a0c2.0b81174",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "Modify Payload Changed",
        "func": "var local=context.get('local') || {};\nvar topic=msg.topic;\nvar last_payload=\"\";\nif (local[topic]===undefined)//test exists\n{\n    node.log(\"not defined \"+topic);\n    payload=msg.payload;\n}\nelse{\n  \nlast_payload=local[topic];\n}\n\nnode.log(\"last payload \"+ last_payload);\nnode.log(\"This payload \"+ msg.payload);\n//msg.payload=JSON.stringify(payload);\nnode.log(JSON.stringify(local));\n//\nif (msg.payload==last_payload)\n{\nnode.log(\"same data\"+topic);\nreturn null;\n}\nelse{\nlocal[topic]=msg.payload;\nnode.log(local);\ncontext.set('local',local);\n}\n//\nvar d = new Date();\nvar t = d.getTime();\npayload={\"time\":t,\"payload\":msg.payload,\"topic\":msg.topic};\n//msg.payload=JSON.stringify(payload);\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 3,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 294,
        "y": 621,
        "wires": [
            [
                "e70dddc1.e739c"
            ]
        ]
    },
    {
        "id": "b64f8909.e26488",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "All data",
        "func": "\nvar topic=msg.topic;\nvar today = new Date();\nvar time = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + '|' + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\npayload={\"time\":time,\"hum\":msg.payload,\"topic\":msg.topic};\n//msg.payload=JSON.stringify(payload);\n//msg.filename=\"/home/pi/logs/data.log\";\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 241,
        "y": 499,
        "wires": [
            [
                "e70dddc1.e739c"
            ]
        ]
    },
    {
        "id": "0ddab4e324131e42",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "esp/dht/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 700,
        "wires": [
            [
                "0506c1d4492d5738",
                "4c06e9583fa07060"
            ]
        ]
    },
    {
        "id": "10d7b3def7f5c1d2",
        "type": "file",
        "z": "9f503d7fb6d5d664",
        "name": "log sensor data",
        "filename": "/home/pi/logs/tem.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 501,
        "y": 821,
        "wires": [
            []
        ]
    },
    {
        "id": "58b970abe0bcc426",
        "type": "json",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 331,
        "y": 812,
        "wires": [
            [
                "10d7b3def7f5c1d2"
            ]
        ]
    },
    {
        "id": "0506c1d4492d5738",
        "type": "debug",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 461,
        "y": 727,
        "wires": []
    },
    {
        "id": "4c06e9583fa07060",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "All data",
        "func": "\nvar topic=msg.topic;\nvar today = new Date();\nvar time = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear() + '|' + today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\npayload={\"time\":time,\"tem\":msg.payload,\"topic\":msg.topic};\n//msg.payload=JSON.stringify(payload);\n//msg.filename=\"/home/pi/logs/data.log\";\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 201,
        "y": 779,
        "wires": [
            [
                "58b970abe0bcc426"
            ]
        ]
    },
    {
        "id": "a9b3aee2c6705ec1",
        "type": "comment",
        "z": "9f503d7fb6d5d664",
        "name": "logs data sensor",
        "info": "",
        "x": 140,
        "y": 360,
        "wires": []
    },
    {
        "id": "9014f4709eaf50e2",
        "type": "comment",
        "z": "9f503d7fb6d5d664",
        "name": "Control device",
        "info": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "7c9b912f2f1cee59",
        "type": "comment",
        "z": "9f503d7fb6d5d664",
        "name": "status",
        "info": "",
        "x": 1110,
        "y": 20,
        "wires": []
    },
    {
        "id": "58c7396693b755cf",
        "type": "comment",
        "z": "9f503d7fb6d5d664",
        "name": "display sensor",
        "info": "",
        "x": 190,
        "y": 20,
        "wires": []
    },
    {
        "id": "499abdbd8f7b4fb2",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "Modify Payload Changed",
        "func": "var local=context.get('local') || {};\nvar topic=msg.topic;\nvar last_payload=\"\";\nif (local[topic]===undefined)//test exists\n{\n    node.log(\"not defined \"+topic);\n    payload=msg.payload;\n}\nelse{\n  \nlast_payload=local[topic];\n}\n\nnode.log(\"last payload \"+ last_payload);\nnode.log(\"This payload \"+ msg.payload);\n//msg.payload=JSON.stringify(payload);\nnode.log(JSON.stringify(local));\n//\nif (msg.payload==last_payload)\n{\nnode.log(\"same data\"+topic);\nreturn null;\n}\nelse{\nlocal[topic]=msg.payload;\nnode.log(local);\ncontext.set('local',local);\n}\n//\nvar d = new Date();\nvar t = d.getTime();\npayload={\"time\":t,\"payload\":msg.payload,\"topic\":msg.topic};\n//msg.payload=JSON.stringify(payload);\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 3,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 254,
        "y": 901,
        "wires": [
            [
                "58b970abe0bcc426"
            ]
        ]
    },
    {
        "id": "032db398c55fc0c2",
        "type": "http request",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c77253f3cee4cd90",
        "type": "ui_slider",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "label": "Brightness",
        "tooltip": "",
        "group": "9851ebc5cd6d0f72",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-2",
        "max": "2",
        "step": "1",
        "className": "",
        "x": 890,
        "y": 420,
        "wires": [
            [
                "f7cb7e865c6458a1"
            ]
        ]
    },
    {
        "id": "09bd193150c4b4e3",
        "type": "change",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 420,
        "wires": [
            [
                "032db398c55fc0c2"
            ]
        ]
    },
    {
        "id": "f7cb7e865c6458a1",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "func": "\nmsg.payload = \"http://192.168.43.188:80/control?var=brightness&val=\"+msg.payload\n\n//http://DEVICE_IP/cm?cmnd=WcBrightness%\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "09bd193150c4b4e3"
            ]
        ]
    },
    {
        "id": "45c16db82f68c2d2",
        "type": "ui_slider",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "label": "Contrast",
        "tooltip": "",
        "group": "9851ebc5cd6d0f72",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-2",
        "max": "2",
        "step": "1",
        "className": "",
        "x": 880,
        "y": 500,
        "wires": [
            [
                "b0af36efd13cedc4"
            ]
        ]
    },
    {
        "id": "b0af36efd13cedc4",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "func": "\nmsg.payload = \"http://192.168.43.188/control?var=contrast&val=\"+msg.payload\n\n//http://DEVICE_IP/cm?cmnd=WcBrightness%\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "c216531796aa0aa2"
            ]
        ]
    },
    {
        "id": "c216531796aa0aa2",
        "type": "change",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "6de39c1617d21075"
            ]
        ]
    },
    {
        "id": "6de39c1617d21075",
        "type": "http request",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1430,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "65caf58664d05edd",
        "type": "ui_slider",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "label": "Quality",
        "tooltip": "",
        "group": "9851ebc5cd6d0f72",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "4",
        "max": "63",
        "step": "1",
        "className": "",
        "x": 880,
        "y": 580,
        "wires": [
            [
                "cad52346d1184a18"
            ]
        ]
    },
    {
        "id": "cad52346d1184a18",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "func": "\nmsg.payload = \"http://192.168.43.188/control?var=quality&val=\"+msg.payload\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 580,
        "wires": [
            [
                "baae2da692246953"
            ]
        ]
    },
    {
        "id": "baae2da692246953",
        "type": "change",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 580,
        "wires": [
            [
                "6e34208c4e9d8436"
            ]
        ]
    },
    {
        "id": "6e34208c4e9d8436",
        "type": "http request",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1430,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c96656800400de56",
        "type": "ui_dropdown",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "label": "Resolution",
        "tooltip": "",
        "place": "Select option",
        "group": "9851ebc5cd6d0f72",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "UXGA(1600x1200)",
                "value": 10,
                "type": "num"
            },
            {
                "label": "SXGA(1280x1024)",
                "value": 9,
                "type": "num"
            },
            {
                "label": "XGA(1024x768)",
                "value": 8,
                "type": "num"
            },
            {
                "label": "SVGA(800x600)",
                "value": 7,
                "type": "num"
            },
            {
                "label": "VGA(640x480)",
                "value": 6,
                "type": "num"
            },
            {
                "label": "CIF(400x296)",
                "value": 5,
                "type": "num"
            },
            {
                "label": "QVGA(320x240)",
                "value": 4,
                "type": "num"
            },
            {
                "label": "HQVGA(240x176)",
                "value": 3,
                "type": "num"
            },
            {
                "label": "QQVGA(160x120)",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 890,
        "y": 640,
        "wires": [
            [
                "3a2d3d7c3f3b7d21"
            ]
        ]
    },
    {
        "id": "3a2d3d7c3f3b7d21",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "func": "\nmsg.payload = \"http://192.168.43.188/control?var=framesize&val=\"+msg.payload\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "1bda866187838af0"
            ]
        ]
    },
    {
        "id": "1bda866187838af0",
        "type": "change",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 640,
        "wires": [
            [
                "107df35a58f98467"
            ]
        ]
    },
    {
        "id": "107df35a58f98467",
        "type": "http request",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1430,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "9568ed9f5308778b",
        "type": "debug",
        "z": "9f503d7fb6d5d664",
        "name": "2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 780,
        "wires": []
    },
    {
        "id": "7224c55bfd65cf31",
        "type": "http request",
        "z": "9f503d7fb6d5d664",
        "name": "camera image request",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.43.188/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "digest",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 800,
        "wires": [
            [
                "e7f06c8d.c0a3b",
                "4b2da90ad8a44d9e"
            ]
        ]
    },
    {
        "id": "e7f06c8d.c0a3b",
        "type": "base64",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1140,
        "y": 720,
        "wires": [
            [
                "9e6ed9dc.f64ba8"
            ]
        ]
    },
    {
        "id": "9e6ed9dc.f64ba8",
        "type": "template",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"100%\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 1270,
        "y": 720,
        "wires": [
            [
                "28439a97.39e7a6",
                "9568ed9f5308778b"
            ]
        ]
    },
    {
        "id": "28439a97.39e7a6",
        "type": "ui_template",
        "z": "9f503d7fb6d5d664",
        "group": "9851ebc5cd6d0f72",
        "name": "Img",
        "order": 6,
        "width": "6",
        "height": "5",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1470,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "b51dde040ad3e5f5",
        "type": "ui_button",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "group": "9851ebc5cd6d0f72",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Take Photo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 800,
        "wires": [
            [
                "7224c55bfd65cf31"
            ]
        ]
    },
    {
        "id": "de5b253c175bd9d8",
        "type": "function",
        "z": "9f503d7fb6d5d664",
        "name": "function 1",
        "func": "\nvar now = new Date();\n// Create formatted time\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar path = \"/home/pi/Pictures/Room1/\" + \"photo_num\" + msg.count + \"_\" + yyyy + \"_\" + mm + \"_\" + dd + \"_\" + hh + \"_\" + mmm + \"_\" + ss + \".jpg\";\nmsg.filename = path;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 920,
        "wires": [
            [
                "5bd3b0acd1a1e445"
            ]
        ]
    },
    {
        "id": "4b2da90ad8a44d9e",
        "type": "mqtt out",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "esp/picture",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac45cf250521f7c3",
        "x": 1150,
        "y": 800,
        "wires": []
    },
    {
        "id": "6eeeb3a887012a6f",
        "type": "mqtt in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "topic": "esp/picture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ac45cf250521f7c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 920,
        "wires": [
            [
                "73f17cba1d241fcb"
            ]
        ]
    },
    {
        "id": "73f17cba1d241fcb",
        "type": "jimp-image",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "/home/pi/Pictures/bun/",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 950,
        "y": 920,
        "wires": [
            [
                "de5b253c175bd9d8"
            ]
        ]
    },
    {
        "id": "469f816bd4c18ddf",
        "type": "debug",
        "z": "9f503d7fb6d5d664",
        "name": "1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 900,
        "wires": []
    },
    {
        "id": "217c327fc5c5428c",
        "type": "image viewer",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1430,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "5bd3b0acd1a1e445",
        "type": "jimp-image",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "filename",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 1230,
        "y": 920,
        "wires": [
            [
                "217c327fc5c5428c",
                "469f816bd4c18ddf"
            ]
        ]
    },
    {
        "id": "e63b669df0c3df1d",
        "type": "comment",
        "z": "9f503d7fb6d5d664",
        "name": "take photo",
        "info": "",
        "x": 740,
        "y": 700,
        "wires": []
    },
    {
        "id": "5c0b2b124c380d1e",
        "type": "comment",
        "z": "9f503d7fb6d5d664",
        "name": "Stream",
        "info": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "77bba038eafc2d6e",
        "type": "multipart-decoder",
        "z": "9f503d7fb6d5d664",
        "name": "MJPEG Encoder",
        "ret": "bin",
        "url": "",
        "tls": "",
        "delay": "5",
        "maximum": "10000000",
        "blockSize": "1",
        "x": 1590,
        "y": 383,
        "wires": [
            [
                "67945040cb7ef615"
            ]
        ]
    },
    {
        "id": "67945040cb7ef615",
        "type": "base64",
        "z": "9f503d7fb6d5d664",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 1770,
        "y": 383,
        "wires": [
            [
                "b4964e8fdad3c5e4"
            ]
        ]
    },
    {
        "id": "b4964e8fdad3c5e4",
        "type": "ui_template",
        "z": "9f503d7fb6d5d664",
        "group": "464ae8333d69d3d4",
        "name": "Display image",
        "order": 1,
        "width": "12",
        "height": "9",
        "format": "<div>\n<img alt=\"stream test\" src=\"data:image/jpg;base64,{{msg.payload}}\"width=\"600\" height=\"400\"> \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1933.256923675537,
        "y": 383.4166660308838,
        "wires": [
            []
        ]
    },
    {
        "id": "a653d6a885140207",
        "type": "change",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.43.188:81/stream",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1336,
        "y": 320,
        "wires": [
            [
                "77bba038eafc2d6e"
            ]
        ]
    },
    {
        "id": "d52790a05cebc0b9",
        "type": "ui_button",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "group": "9851ebc5cd6d0f72",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stream",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "a653d6a885140207"
            ]
        ]
    },
    {
        "id": "696db0f193a24417",
        "type": "http in",
        "z": "9f503d7fb6d5d664",
        "name": "",
        "url": "http://192.168.43.188:81/stream",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1390,
        "y": 260,
        "wires": [
            [
                "77bba038eafc2d6e"
            ]
        ]
    },
    {
        "id": "ac45cf250521f7c3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e9f3556838e7c330",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "6cdd529c3b083fa7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2e0754e19ed7a08",
        "type": "ui_group",
        "name": "Chart",
        "tab": "6cdd529c3b083fa7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9851ebc5cd6d0f72",
        "type": "ui_group",
        "name": "Manager",
        "tab": "44d7c484f6fc6672",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "464ae8333d69d3d4",
        "type": "ui_group",
        "name": "ESP32-cam",
        "tab": "44d7c484f6fc6672",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6cdd529c3b083fa7",
        "type": "ui_tab",
        "name": "DHT22",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "44d7c484f6fc6672",
        "type": "ui_tab",
        "name": "ESP32-CAM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]